.home-image {
    width: 100%;
    height: 450px;
    background-image: url("/images/flash-card.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

